/* responsible to style all html's but index.
weather-app.html is the related html commented up */

.projects-title {
  font-size: 22px;
  font-family: "Press Start 2P", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}

/* gallery thumbnail styling, object fit will crop image to fill box without any distortion, cursor pointer which is clickable and smooth transition. */
.gallery .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .3s;
}

.gallery .thumb:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

/* fullscreen container display hidden by default. inset same as, top, right, bottom and left = 0, z index with a high number to ensure it is on top of everything else. */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* show lightbox when targeting its ID by the a link */
.lightbox:target {
  display: flex;
}

/* clickable dark background to close it */
.lightbox-bg {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.lightbox img {
  position: relative;
  z-index: 1;
  max-width: 50vw;
  max-height: 50vh;
  object-fit: contain; /* keep entire image visible */
}

.project-container .project-header h4 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}

.project-container .project-header p {
  font-size: 16px;
  padding: 20px 150px;
  line-height: 2;
  text-align: center;
  
}

.project-container .project-header .project-links {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.project-container .project-header .project-links a i {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 28px;
  transition: 0.3s;
}

.project-container .project-header .project-links a i:hover {
  color: #b46af1;
  border: 1px solid #b46af1;
  transform: scale(1.1);
}

.project-container .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-container .card .requirements {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
}

.project-container .card .requirements h4 {
  font-size: 22px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

.project-container .card .requirements p {
  font-size: 14px;
  line-height: 1.8;
}

.project-container .card .grades {
  margin: 20px;
}

.project-container .card .grades .mood-pics {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}