* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}