/* remove all default spacing applied by the browser, such as default margins, paddings, borders, makes width/height include padding and border by border-box and removes default focus outlines. */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
}

/* remove any links underlines and define a color to it */
a {
    text-decoration: none;
    color: #fff;
}

/* no style, so no bullet points */
ul {
    list-style: none;
}

/* ensure images never overflow their container */
img {
    max-width: 100%;
}