html {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    /* background-color: #282828; */
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000, #9e00ff);
}

.head {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.head .logo {
    /* background-color: orange; */
    width: 75px;
    height: 65px;
    border-radius: 50%;
    border: 3px solid #fff;
    text-align: center;
    line-height: 57px;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.head a:hover .logo {
    color: #9443d8;
    border: 2px solid #9443d8;
}

.head .menu ul {
    /* background-color: red; */
    display: flex;
}

.head .menu li a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s;
}

.head .menu li a:hover {
    background-color: #9443d8;
    color: #fff;
    border-radius: 50px;
}

.home {
    /* background-color: green; */
    display: flex;
    min-height: calc(100vh - 125px);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.home .info {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .info h2 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .info p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.home .info .social-media {
    /* background-color: orange; */
    display: flex;
    gap: 20px;
}

.home .info .social-media a i {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    transition: 0.3s;
}

.home .info .social-media a i:hover {
    color: #9443d8;
    border: 1px solid #9443d8;
    transform: scale(1.1);
}

.home .container-pic .pic {
    /* background-color: red; */
    max-width: 450px;
    border-radius: 50%;
}

.home .container-pic img {
    width: 100%;
    border-radius: 50%;
}

.projects {
    /* background-color: purple; */
    padding: 70px 0;
}

.projects .title {
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projects .container-pro {
    /* background-color: yellow; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projects .project {
    max-width: 260px;
    max-height: 500px;
    position: relative;
}

/* .projects .project img {
    height: 100%;
} */

.projects .project h4 {
    background-color: #040203;
    width: 100%;
    padding: 10px 0 10px 20px;
    position: absolute;
    bottom: 0;
}

.projects .project .project-info {
    background-color: #040203;
    position: absolute;
    padding: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
}

.projects .container-pro .project:hover .project-info {
    opacity: 0.7;
    background-color: #000;
}

