html {
    color: #fff;
    scroll-behavior: smooth;
}

body {
    /* background-color: #282828; */
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(0deg, #111 60%, #9d00ff 100%);
}

.head {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.head .logo {
    /* background-color: aqua; */
    width: 200px;
    height: 65px;
}

.head .menu ul {
    /* background-color: red; */
    display: flex;
    font-family: "Raleway", sans-serif;
}

.head .menu li a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s;
}

.head .menu li a:hover {
    background-color: #b46af1;
    color: #fff;
    border-radius: 50px;
}

.home {
    /* background-color: green; */
    display: flex;
    min-height: calc(89vh - 125px);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.home .info {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .info h2 {
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    margin-bottom: 20px;
}

.home .info p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.home .info .social-media {
    /* background-color: orange; */
    display: flex;
    gap: 20px;
}

.home .info .social-media a i {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    transition: 0.3s;
}

.home .info .social-media a i:hover {
    color: #b46af1;
    border: 1px solid #b46af1;
    transform: scale(1.1);
}

.home .container-pic .pic {
    /* background-color: red; */
    max-width: 450px;
    border-radius: 50%;
}

.home .container-pic img {
    width: 100%;
    border-radius: 50%;
}

.home:after {
    content: url('../images/seta.png');
    position: absolute;
    max-width: 50px;
    height: 40px;
    bottom: 40px;
    left: 50%;
    animation: downarrow 0.8s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); 
    opacity: 0.1; }
    100% {-webkit-transform: translateY(0.5em);
    opacity: 0.5; }
}

.title {
    text-align: center;
    padding: 40px 0;
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 80px;
}

.title-info {
    font-size: 12px;
}

.container-pro {
    background-color: #9d00ff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.container-pro .project a img {
    display: grid;
    transition: 0.3s;
}

.container-pro .project a:hover img {
    opacity: 0.7;
}

.foot {
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
}

.foot .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

.foot .left-side .foot-logo img {
    /* background-color: aqua; */
    width: 40%;
    transition: 1s;
}

.foot .left-side .foot-logo img:hover {
    border: 1px solid #9443d8;
    border-radius: 10px;
}

.foot .social-foot {
    display: flex;
    margin: 20px 33px;
}

.foot .social-foot a {
    padding: 0 10px;
    font-size: 25px;
    transition: 0.3s;
}

.foot .social-foot a:hover {
    transform: scale(1.2);
    color: #b46af1;
}

.foot nav h4 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 82px 0 10px 10px;
    display: flex;
    justify-content: flex-start;
}

.foot nav ul {
    /* background-color: brown; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.foot nav ul li a {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin: 10px 10px 20px 10px;
    gap: 10px;
}

.foot nav ul li a:hover {
    color: #b46af1;
    transition: 0.2s;
    transform: scale(1.05);
}

.foot nav ul li a img {
    height: 60px;
    width: 110px;
}

.foot nav ul li a p {
    font-size: 12px;
}